.doc-appointment h3{
    text-align: left;
    margin: 30px;
    margin-top: 100px;
}

td{
    padding: 5px;
}

.table{
    box-shadow: 10px 10px 20px lightgray;
    margin: auto;
}

.calendar{
    margin:  auto;
}

.app-table{
    margin-right: 100px;
}