

.header{
    text-align: right;
    padding: 50px;
}


.header nav a{
    margin: 10px;
    text-decoration: none;
    color: rgb(56,66,86);
    padding: 25px;
    font-size: large;
    font-weight: 500;
}
