form{
    margin-left: 300px;
}


form h3{
    text-align: left;
    margin:  auto;
    display: block;
}

form p{
    text-align: left;
    margin:  auto;
    display: block;
    margin-top: 50px;
}



.patient-form input{
    display: block;
    width: 500px;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.patient-form select{
    display: block;
    width: 500px;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

input.btn-submit{
    background-color: lightseagreen;
    border: none;
    color: white;
    font-weight: 400;
}
